body{
    margin-left: 300px;
    padding-left: 200px;
    padding-bottom: 300px;
    margin-bottom: 100px;
}

#cookingCommentsTextbox{
    height: 200px;
    width: 500px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:70px;
    height:70px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #abd;
}