body{
    margin-left: auto;
    margin-right: auto;
    width:1000px;
    background-color: gainsboro;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
}
h1{
    text-align: center;
    letter-spacing: 2px;
    color: deepskyblue;
    font-weight: 100;
    background: white;
    border: 2px solid deepskyblue;
    margin: 20px 300px 20px 300px;
    padding-bottom: 10px;
    padding-top: 10px;
}
input[type='checkbox'] {
    -webkit-appearance:none;
    width:60px;
    height:60px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: deepskyblue;
}
textarea{
    height: 150px;
    width: 400px;
}
#cookingCommentsTextbox{
    height: 150px;
    width: 400px;
}
#dataCommercialCooking, #outputCookingText{
    height: 150px;
    width: 400px;
}
#tabs-1, #tabs-2, #tabs-3, #tabs-4{
    font-size: 20px;
}
input[type='radio'] {
    -webkit-appearance:none;
    width:60px;
    height:60px;
    background:white;
    border-radius:60px;
    border:2px solid #555;
}
input[type='radio']:checked {
    background: #ff4d4d;
}
input[type='button'], input[type='submit'] {
    width:300px;
    height:60px;
}