body{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
#noFalse{
    color:red;
    width:50px;
    height:50px;
    font-size:35px;
    border-radius:50%;
    text-align:center;
    background:white;
    border: 1px solid red;
}
#siTrue{
    width:50px;
    height:50px;
    font-size:35px;
    border-radius:50%;
    color:green;
    text-align:center;
    background:white;
    border: 1px solid green;
}
.circleNo{  
    width:50px;
    height:50px;
    font-size:35px;
    border-radius:50%;
    color:red;
    text-align:center;
    background:white;
    border: 1px solid red;
}
.circleYes{  
    width:50px;
    height:50px;
    font-size:35px;
    border-radius:50%;
    color:green;
    text-align:center;
    background:white;
    border: 1px solid green;
}
.circleNo:hover{
    background-color: red;
    color: white;
    border: none;
}
.circleYes:hover{
    background-color: green;
    color: white;
    border: none;
}
ul{
    list-style-type: none;
}
li{
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    border: 1px dashed;
    margin-right: 500px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
span{
    float: right;
}
.boxYes{
    border-color: green;
}
.boxNo{
    border-color: red
}
.disInline,#noFalse, #siTrue{
    display: inline;
    font-size: 25px;
}
.disInline{margin-left: 40px;}