.myfont{
    font-weight: lighter;
}
.smtxt{
    font-size: 14px;
}
.myweb{
    background-color:#ffb3ba;
    border: 1px solid white;
}
.myweb:hover{
    background-color: white;
    border: 1px solid #ffb3ba;
}
.mypy{
    background-color:#ffdfba;
    border: 1px solid white;
}
.mypy:hover{
    background-color: white;
    border: 1px solid #ffdfba;
}
.myr{
    background-color:#baffc9;
    border: 1px solid white;
}
.myr:hover{
    background-color: white;
    border: 1px solid #baffc9;
}
.myother{
    background-color:#bae1ff;
    border: 1px solid white;
}
.myother:hover{
    background-color: white;
    border: 1px solid #bae1ff;
}
.myleft{
    border-left: solid 2px #FC766AFF;
}
.myright{
    border-right: solid 2px #5B84B1FF;
}
a.mylink:link, a.mylink:visited {
    color:black;
  }
a.mylink:hover, a.mylink:active {
    text-decoration: underline;
}
