body{
    width:1000px;
    font-size: 15px;
	margin-left:auto;
    margin-right:auto;
    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h1{
	font-weight:lighter;
	letter-spacing: 2px;
    margin-bottom: 10px;
    font-size:36px;
    text-align: center;
}
#introInfo{
    width: 50%;
    float:left;
    margin-bottom: 30px;
}
#contactInfo{
    text-align: right;
    width: 50%;
    float:left; 
}
a:link, a:visited{
    text-decoration: none;
    color:#3299CC;
}
a:hover{
	border-bottom: 1px solid;
}
a:active{
	color:#3299CC;
	border-bottom: 1px solid;
}
/* Style the tab */
div.tab {
    overflow: hidden;
    clear: both;
}
/* Style the buttons inside the tab */
div.tab button {
    cursor: pointer;
    font-size: 14px;
    width:100px;
    height:100px;
    border-radius:50%;
    text-align:center;
    background:white;
    margin-left: 180px;
    padding-top: 0px;
    float: left;
    border: 1px solid black;
}
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #3299CC;
    color: white;
    border: none;
}
/* Create an active/current tablink class */
div.tab button.active {
    background-color: #3299CC;
    color: white;
    border: none;
}
/* Style the tab content */
.tabcontent {
    display: none;
    padding-left: 30px;
}
img {
    height: 70px;
    width: 70px;
    float: left;
    padding-right: 20px;
}
.myList{
    clear: both;
    padding-top: 30px;
}
.myList > div{
    padding-bottom: 4px;
}
#leftPanel{
    width: 50%;
    float: left;
}
#rightPanel{
    width: 50%;
    float: left;
}
.projectBox{
    width: 35px;
    height: 20px;
    background-color: aqua;
    color:white;
}
.accordion-toggle {cursor: pointer;}
.accordion-content {display: none;}
.accordion-content.default {display: block;}

button.accordion-toggle{
    background-color: white;
    color: black;
    text-decoration: none;
    cursor: pointer;
    border:none;
    font-size: 20px;
    border-radius: 8px;
}
button.accordion-toggle:hover {
    background-color: #3299CC;
    color: white;
    border-color: white;
}
button.accordion-toggle.active {
    background-color: #3299CC;
    color: white;
    border-color: white;
}
.accordion-content{
    border: 1px solid #3299CC;
    margin-top:15px;
    margin-right: 10px;
    padding: 10px 10px 10px 10px;
}